.Principal{
    height: 100%;
    display: flex;
    width: 100%;
/*    list-style: none;
    position: fixed;
    top: 50px;*/
}

.Skills{
    height: 30%;
    background-color: #2D3250;
    align-items: center;
    list-style: none;
    padding: 15px 0;
    position: fixed;
    top: 50px;
    width: 100%;
}

.Skills h1{
    text-align: center;
    justify-content: center;
    color: #ffffff;
}

.containerProjetos{
    height: 74%;
    top: 26%;
    background-color: #f6b17a;
    position: fixed;
}

.containerProjetos h2{
    text-align: center;
    justify-content: center;
}

.containerlogos{
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 3% 0 3% 0;
}

.tagp{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.divprojetos{
    margin: 3% 0 3% 0;
}

.projetos{
    display: flex;
}

.calculadora, .landingpage {
    flex: 1; /* Faz com que as divs ocupem o mesmo espaço */
    width: 15%;
}
.projetos h2,h3{
    color: #2D3250;
}   
-------------------------------------------------
.logos{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    
}
.logos img{
    margin-right: 1px;
}

.containerPrincipal {
    margin: 0% 7% 7% 7%;
}

.home {
    width: 100%;
    display: flex;
    gap: 50%;
    text-align: left;
}

.titulo{
    position: fixed;
    left: 7%;
    top: 30%;
    color:aliceblue;
    font-style: normal;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
}

.subtitulo{
    display: flex;
    position: fixed;
    left: 7%;
    top: 40%;
    color:aliceblue;
    font-style: normal;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
}
.sobremim{
    position: absolute;
    height: 242px;
    top: 433px;
    margin: 0% 7% 0% 7%; 

}

.texto{
    position: relative;
    top: 20%;
    text-align: justify;

}

.fotoperfil{
    display: flex;
    position: absolute;
    height: 300px;
    right: 5%;
    top: 15%
    
}

.sm{
    position: relative;
    top: 10%;
    color: #2D3250;
}