.PageSobre{
    height: 433px;
    background-color: rgba(112, 119, 161, 1);
}

.subcontainerPrincipal{
}

.home{
}

.sobremim{
    position: relative;
    height: 203px;
    background-color: rgba(255, 255, 255, 0.919);
}



